<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="608" />
    <add key="mainForm.Location.Y" value="60" />
    <add key="mainForm.Width" value="705" />
    <add key="mainForm.Height" value="960" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAGtcuLhnm88dj3dHRRxlpicyMQBB0zsRx6OpEDaHmqhj3uYkMFtbSNQxoQ/CXhsm6vh7ZzKYbRoq6igqWMrOCOIwHPi/6+FhMHO9n4SjmBlEfVCEmCPD9wQwO1RQylH2LsR8zRhpRwDVYDcLhAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAGtcuLhnm88dj5JvZxxkpicyMQCBz9IzDkdTIWwHszMOeZuTwOxfsWccEvog7G9XTjv83pkMZj+7ftpBVLCUnRHEYTjwf9fDw2DmpydHHcTMIOrXXDzpwPA9AcxeFn/IQfYuxPx/J/c7AACd0jW6hAAAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAGtcuLhnm88dj2Nqyk4y0xOZGIBA55mS09FUCPt4r5JT3uYkMDt9rZJTQh+EHeag5PR7ZzKYvdZJyUlUsJSdEcRhOPB/18PDYGZam6yTmBlEvdYyBSeG7wlg9tcdUk6ydyHmu62ScAIApWozqIQAAAA=" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAAtbzNmzzeeOBwMQLJ79hpsBCtSsf7MzglkH/vvtWs0IE19/RYoTxgYALCwWmDwAAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAAtbzNmzzeeOh/5/T9tvoslMDEDQI6xrU1acBGYvr6i1qb8JYZ9gUbaxfARhSyrk2dSHJYLZetce2KhZ/2ZnBHEYDvz327UazNzxN93uedhnMJu9w8buzE2I+ZbL2O3czSDmiBdMtd6aCzHn3fU5NgC95+ilkAAAAA==" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAAtbzNmzzeeOh8aFC/bfRJOZGIDgyl9m+7LiJDA769J/u/qbELbN3wx7y0cQtjfDEvv6sEQwe/lxX3s169/sjCAOw4H/frtWg5nh+dEOz8M+g9n1/goOZ25CzO+beM7e3Qxijmj9QrutuRBz+CJ22gEAiKu24JAAAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAAtbzNmzzeeOx1LTRIdvoslMDEDg3sLiUFacBGaf8hVyqL8JYavFBjhYPoKwq3XiHOrDEsFs3+1SDmrWv9kZQRyGA//9dq0GM7UU/js8D/sMZkeveOJw5ibE/KCwVgd3M4g51vbn7LfmQszJ2fHQHgBJstJKkAAAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAAtbzNmzzeeOh8uBMy7fRJOZGIAg79l5l7LiJDBb1eewS/1NCLvWYa2L5SMIm6nhjkt9WCKYfeHMYhc169/sjCAOw4H/frtWg5kVpmEuz8M+g9lWxtNdztyEmM/cMNfF3QxizgLJVS5bcyHmZC5b4AIAKTvRu5AAAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEANumy96zzeeOx7ebP1wW6SYzMQDBVZ7LLo15SWB2xP89LrxXIGynB6yuMi8gbFPjay7loYlg9oUzi12WzfvLzgjiMBz43+4yF8x0bYpxCcz7D2bnpW1wOX8VYv5FoPlJahBzFkiucnlQAjEnc9kCFwAB7rGekAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAPM4zdKzzeeOh1ODrOtB9WQmBiDIT3vvsi4rCcwO79nscuEyhO3X+8lF9w2EnbZsgUtqaCKYnQVks7EzcDCCOAwH/osadIGZTueTXKoUBMBqFkmucvl6HmL+3JknXZi1IeYsAIpb5kLMmQNkAwCzA1POkAAAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAJNPZurZ5nPHo26ynau7XDITAxAUpL13iSlOArPl1mi7xh6CsF+q/XcR+QVhn/dhceULTQSzL/R8crlXzMTBCOIwHPj/U6odzBQ8n+Ty/5wAWE1e2gaXe0ch5rM03HFhNIeYw8Pwx+VYOtScM4tdAEdDkQyQAAAA" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAAtbzNmzzeeOx8OZJ52+iSYzMQDBIiC7rDgJzBYGsutvQtgas046WT6CsGeCxMMSwex5QLaa9W92RhCH4cB/v12rwUyZ2Sednod9ZoSZeeYmxPy5QLa7WRLcrq25iXBxAAOCC/aQAAAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEADMQZujZ5nPHg4FB0ynRKJmJAQwknB73JMHZX6bA2GJOd57B2KJOvumJULaIU98RFg5GMPvAf9eiNggTaObiZH6oGl2ne5Ng5ms5RYrDzFFy6pgEM0feCQAFWL9ykAAAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEADMQZujZ5nPHg4FBzGnx/yQmBjDgclq4H8bmcfoyBcbmcLrzDMZmd/JNT4SyWZz6jrBwMILZB/67FrVBmAxqTouT+aFq1J3uTUqGshWcIsVh5kg4dUyCmSPqBADI4cybkAAAAA==" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEADMQZujZ5nPHg4FB1Gnx/yQmBjDgcVq4H8bmcvoyBcbmdrrzDKHGNz0RymZx6jvCwsEIZh/4z1TdCmEyqDud/cEPVaPs9P1LMpQt5xQpDjNHwqljEswcMScAPdoLMZAAAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEADMQZujZ5nPHg4FBzmnx/yQmBjDgc/pUBGMLO3nvgbF5nEx4kuHsiY6JUDaXk9crFg5GMPvA/46JTRAmg6aT+yMhqBodJ91jML3KTspuMDMlnDomwcwRdQIAi0rQLJAAAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEADMQZujZ5nPHg4FByWnx/yQmBjDgcvpUBGPzOXnvgbHZnUx4kqFsNqeJjolQNrOT1ysWDkYw+8D/i7KNECaDstO/UBEmGFv3GEyvlJOyG8xMXqeOSYlwuwDM3meGkAAAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEADMQZujZ5nPHg5FVyn7x/yQmBij4VIRge++BsPf5HbU34UmGinvYTXRMhLKr7C+Jv2dnBLMP/Dc6Pg3MFPBQdBKtFwGr2Zxz0VH3GERvikSog7IbxEyHsmN2HZMS4XYBAFMFvymQAAAA" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEADMQZujZ5nPHY0Kxn93i/0lMDFDwqQjB9t4DYfttOWpvwpMMFfewm+iYCGY38JywuyT+np0RLH7gv9HxaWAmnzGPk2i9CFhN7qZDjrrHIHonpD60V3ZDmN8xKRHOBgBny6lmkAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEADMQZujZ5nPHw1FwpsPi/0lMDECgYC1q/6kIwgYB7z0Qttmz9w4mPMlg9t1+RYeJjolgtp1WkYPuxTfsjGDVB/5f550JZr4UU3ISrReBmNOw21H3GETvF0kbB2U3mPli9h2TEqHsKnsAI82KppAAAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAJvy/H/3Np87HneUyhzttZOZGIAgJX23w6eiJDD715krDt57IGyGD+2OJjwQNamrlBwnOiZCxBuUHHUvvmFnBHMO/L/OOxPM9HOqdBKtF4Go8VB20j0G0fsjx8hR2Q1ipk73bYeOSRBz5lqwOgIAjWTAOpAAAAA=" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEADMQZujZ5nPH49yh5Q6L/ycxMQDBCb5z9p+KIOwvZ67Ye++BsA/NvONgwpMMZkf5BTpMdEwEs3+9KnHQvfiGnRHEYTjw/zrvTDBTzNTISbReBGJm91NH3WMQvXLFMx2U3SBmTtj0y75jEsScuTdEHADXjVO2kAAAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="375" />
    <add key="treeView.Columns.Value.Width" value="150" />
    <add key="treeView.Columns.Min.Width" value="150" />
    <add key="treeView.Columns.Max.Width" value="150" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>